.about-container {
  display: grid;
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
  grid-template-rows: 1fr 0.15fr 1fr;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas:
    "about-left about-middle-top about-right-top"
    "about-left about-middle-top about-right-bottom"
    "about-left about-middle-bottom about-right-bottom";
}

@media (max-width: 1200px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1.4fr 0.2fr 1.4fr;
    grid-template-areas:
      "about-left about-left"
      "about-middle-top about-right-top"
      "about-middle-top about-right-bottom"
      "about-middle-bottom about-right-bottom";
  }
}

@media (max-width: 600px) {
  .about-container {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    gap: 24px;
  }

  .about-middle-top,
  .about-middle-bottom,
  .about-right-top,
  .about-right-bottom {
    margin-top: 16px;
  }
}

.about-left {
  grid-area: about-left;
}

.about-middle-top {
  grid-area: about-middle-top;
}

.about-middle-bottom {
  grid-area: about-middle-bottom;
}

.about-right-top {
  grid-area: about-right-top;
}

.about-right-bottom {
  grid-area: about-right-bottom;
}

.about-box {
  border-radius: 8px;
  box-shadow: 0 0 0 1px #ffffff15;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%),
    0 12px 24px rgb(0 0 0 / 5%), 0px 0px 30px 0px rgba(21, 94, 117, 0) inset;

  padding: 24px;
  cursor: default;
  transition: all 0.2s ease-in-out;

  @media (max-width: 600px) {
  }

  &:hover {
    box-shadow: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%),
      0 12px 24px rgb(0 0 0 / 5%),
      0px 0px 30px 0px rgba(21, 94, 117, 0.05) inset;

    transform: scale(1.03);

    .about-icon {
      filter: saturate(0.7);
      transform: scale(1.1);
    }

    #about-index-icon {
      transform: scale(1);
    }
  }
}

.about-icon {
  width: 68px;
  filter: saturate(0);
  transition: all 0.2s ease-in-out;
}

.about-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #333;
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #666;
}

#about-index-icon {
  width: 90px;
  &:hover {
    transform: scale(1.1);
  }
}

// Skills
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px 36px;
  grid-auto-flow: row;
  grid-template-areas:
    "skill-1 skill-2"
    "skill-3 skill-4"
    "skill-5 skill-6"
    "skill-7 skill-8";

  div p:first-child {
    font-size: 18px;
    font-weight: 500;
  }

  div p:last-child {
    font-size: 12px;
  }
}

.skill-1 {
  grid-area: skill-1;
}

.skill-2 {
  grid-area: skill-2;
}

.skill-3 {
  grid-area: skill-3;
  opacity: 0.8;
}

.skill-4 {
  grid-area: skill-4;
  opacity: 0.8;
}

.skill-5 {
  grid-area: skill-5;
  opacity: 0.6;
}

.skill-6 {
  grid-area: skill-6;
  opacity: 0.6;
}

.skill-7 {
  grid-area: skill-7;
  opacity: 0.4;
}

.skill-8 {
  grid-area: skill-8;
  opacity: 0.4;
}

.hover-image {
  display: none;
  width: 150px;
  animation: logo-fade 1s ease-in-out;
}

.base-image {
  width: 100px;
  animation: logo-fade 1s ease-in-out;
}

.company-link:hover {
  .hover-image {
    display: block;
  }

  .base-image {
    display: none;
  }
}

@keyframes logo-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
