.patterns {
  margin: 0;
  height: 100vh;
}

svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: rgb(14, 116, 144);
  font-size: 150px;
  font-weight: 700;
  stroke-width: 3;

  animation: textAnimate 5s infinite alternate;

  @media (max-width: 600px) {
    stroke-width: 2;
  }
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(189, 59%, 66%);
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%, 0%);
  }
}
