.projects-slider img {
  animation: img-reveal 0.8s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-placeholder {
  width: 1050px;
  height: auto;
}

.text-reveal-one {
  animation: text-reveal 0.2s ease-in-out;
}
.text-reveal-two {
  animation: text-reveal 0.4s ease-in-out;
}
.text-reveal-three {
  animation: text-reveal 0.6s ease-in-out;
}
.text-reveal-four {
  animation: text-reveal 0.8s ease-in-out;
}

@keyframes text-reveal {
  0% {
    transform: translateX(15px);
    opacity: 0.7;
    letter-spacing: 2px;
    filter: blur(5px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    letter-spacing: 0px;
    filter: blur(0);
  }
}

@keyframes img-reveal {
  0% {
    transform: translateX(20px);
    filter: brightness(0.7) blur(5px) saturate(0.5);
  }
  100% {
    transform: translateX(0px);
    filter: brightness(1) blur(0) saturate(1);
  }
}
