@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-duration: 300ms;
}
button > * {
  transition: none;
}

/* ? Start Dark/Light toggle button */
.switch {
  width: 64px;
  height: 40px;
  background-color: rgb(31 41 55);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 4px;
  cursor: pointer;
}

.switch[data-isOn='true'] {
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: flex-end;
}

.handle {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 40px;
}

.switch[data-isOn='true'] .handle {
  background-color: rgb(24, 24, 24);
}
/* ? End Dark/Light toggle button */
